
.filter-container {
  display: flex;  
  align-items: center;
  width: 100%;
  padding: 20px 0px;
  margin-bottom: 20px;  
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  justify-content: space-between;
}

.filter-container .filter-group {
  display: flex;
  align-items: center;
  margin-left: 20px;
  gap: 20px;
  justify-content: flex-end;
  width: 35%;
}

.filter-group .btn {
  background: transparent;
  border: none;
  border-bottom: 2px solid green;
  color: green;
  padding: 10px 40px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.filter-group .btn-check:checked+.btn {
  background: green;
  border-color: green;
}

.filter-group .btn.btn-primary:hover {
  background: green;
  color: #fff;
  border-color: green;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.events-list {
  width: 100%;
  padding: 0 20px;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  animation:fadeUp .75s ease-in-out forwards;
  -webkit-animation:fadeUp .75s ease-in-out forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

.events-list .event-item {
  background: #fff;
  position: relative;
  margin-bottom: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  padding-block: 20px !important;
  padding-inline: 30px !important;
}

.event-item .image-col {
  padding-left: 0;
}

.event-item .event-title {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px green solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.event-title .is-held {
  color: #fff;
  background:green;
  display: flex;
  align-items: center;
  padding-inline: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.event-image {
  height: 100%;
   
}

.event-image figure {
  margin: 0;
   
}

.event-item img {
  height: 276px;
  width: 100%;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
}
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@media (max-width: 767px) {
  .filter-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .filter-container .filter-group {
    margin-left: 0;
    width: 100%;
    justify-content: space-between;
  }
  .filter-group .btn {
    margin-bottom: 10px;
  }
  .events-list {
    padding: 0;
  }
  .event-item {
    padding: 20px;
  }
  .event-item .image-col {
    padding-left: 20px;
  }
  .event-item .event-title {
    flex-direction: column;
    align-items: flex-start;
  }
  .event-title .is-held {
    margin-top: 10px;
  }
  .event-item img {
    height: 100%;
  }
}